body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: linear-gradient(0deg, #0b152b 10%, #0e2348 60%, #182b4d 100%);
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

header a{
    color: #fff !important;
}

.navbar{
    color:white;
}

section{
    width: 100%;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    text-align: center;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#hero {
    height: 100vh;
    background-color: #333;
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.5rem;
}

footer {
    color: white;
}
